---
import './Conectividade.css'
import { Image } from 'astro:assets'
import iconeConectividade from '../../assets/images/elements/SVG/Icon-conectividade.svg'
import iconeSeta from '../../assets/images/elements/SVG/SETA-VERDE.svg'
import iconeSetaBranca from '../../assets/images/elements/SVG/SETA-BRANCA-BOTAO.svg'
import downloadIcone from '../../assets/images/elements/WebP/icon Simetria 0.75x.webp'
import wifiIcone from '../../assets/images/elements/SVG/icon SLA real.svg'
import connectIcone from '../../assets/images/elements/SVG/icon Redundância.svg'
import monitoringIcone from '../../assets/images/elements/SVG/icon Monitoramento.svg'
import supportIcone from '../../assets/images/elements/SVG/icon Suporte.svg'
import locationIcone from '../../assets/images/elements/SVG/icon Localização.svg'

// Todos os itens de características agora estão em um único array para facilitar a manutenção
const caracteristicas = [
  'INTERNET MAIS RÁPIDA',
  'REDE MAIS ESTÁVEL',
  'SUPORTE HUMANO E ÁGIL',
  'PARCERIA E COMPROMISSO COM O SEU CRESCIMENTO',
]

const descricoes = [
  {
    icone: downloadIcone,
    texto: 'SIMETRIA DOWNLOAD/UPLOAD EM TODOS OS PLANOS.',
  },
  { icone: wifiIcone, texto: 'SLA REAL COM ATÉ 99% DE UPTIME.' },
  {
    icone: connectIcone,
    texto: 'REDUNDÂNCIA ALINHADA AO NÍVEL DA SUA MISSÃO.',
  },
  { icone: monitoringIcone, texto: 'MONITORAMENTO ATIVO DA REDE.' },
  { icone: supportIcone, texto: 'SUPORTE TÉCNICO QUE RESOLVE.' },
]
---

<section class="conectividade-section">
  <div class="conectividade-section__content">
    <Image
      src={iconeConectividade}
      alt="Ícone conectividade"
      class="conectividade-section__icon"
    />
    <h1 class="conectividade-section__title">
      CONECTIVIDADE DE PONTA, PERTO DO SEU NEGÓCIO.
    </h1>

    <div class="conectividade-section__features">
      {
        caracteristicas.map((caracteristica) => (
          <div class="feature-item">
            <Image
              src={iconeSeta}
              alt="Ícone seta verde"
              class="feature-item__arrow"
            />
            {caracteristica}
          </div>
        ))
      }
    </div>

    <div class="description-grid">
      {
        descricoes.map((descricao) => (
          <div class="description-card">
            <Image
              src={descricao.icone}
              alt="Ícone descrição"
              class="description-card__icon"
            />
            <div class="description-card__divider" />
            <p class="description-card__text">{descricao.texto}</p>
          </div>
        ))
      }
      <div class="description-card">
        <Image
          src={locationIcone}
          alt="Ícone descrição"
          class="description-localication__icon"
        />
        <div class="description-card__divider"></div>
        <p class="description-card__text">LOCALIZAÇÃO ESTRATÉGICA.</p>
      </div>
    </div>

    <a class="conectividade-section__cta-button" href="#contact-form">
      FALE COM UM ESPECIALISTA
      <Image src={iconeSetaBranca} alt="Ícone de seta" class="arrow-icon" />
    </a>
  </div>
</section>
